:root {
	--bg-color: rgba(26, 26, 26, 1);
	--color: #ffffff;
	--btn-color: #ff9142;
	--text-color: #a8a8a8;
	--footer-color: #131313;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Syne', 'Rubik', sans-serif;
}

img {
	cursor: pointer;
}

a {
	text-decoration: none;
}

/* HEADER START */

.site-aaronn {
	background-color: var(--bg-color);
}
.aaronn {
	cursor: pointer;
}
.aaronn:active {
	opacity: 0.6;
}

.container {
	max-width: 1186px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 33px;
	padding-bottom: 90px;
}
.site-header__list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-nav {
	display: none;
}

.menu-nav.menu-open {
	display: block;
}

.site-header__list {
	display: flex;
	gap: 20px;
}
.site-header__item {
	list-style: none;
	margin-right: 44px;
}
.site-header__link {
	text-decoration: none;
	color: var(--text-color);
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0;
	transition: all 0.2s ease;
}

.site-header__link:hover {
	color: var(--color);
}
.site-header__btn {
	font-weight: 700;
	font-size: 14px;
	padding: 15px 36px;
	border: 2px solid var(--text-color);
	background-color: transparent;
	color: var(--color);
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.site-header__btn:hover {
	background-color: var(--text-color);
}

/* HEADER END */
/* SECTION START */
.site-section {
	padding-top: 191px;
	padding-bottom: 230px;
	background-image: url(../img/Vector\ 8.svg);
	background-repeat: no-repeat;
}

.site-section__vector {
	position: absolute;
	right: 300px;
	top: 250px;
}

.site-section__title {
	max-width: 900px;
	font-weight: 700;
	font-size: 72px;
	color: var(--color);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 93px;
}

.site-section__top {
	width: 100%;
	display: flex;
	justify-content: center;
}

.site-section__btn {
	font-weight: 700;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 1.63px;
	text-transform: uppercase;
	padding: 24px 33px 27px 40px;
	background-color: var(--btn-color);
	color: var(--color);
	border: none;
	border-radius: 32px;
	cursor: pointer;
	border: 1px solid var(--btn-color);
	transition: all 0.3s ease;
}

.site-section__btn:hover {
	border: 1px solid var(--btn-color);
	background-color: transparent;
}

/* SECTION END */
/* MAIN START */

.site-main {
	padding-bottom: 290px;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-main__info {
	margin-right: 80px;
}
.site-main__info-vector {
	position: absolute;
	top: 80%;
	left: 10%;
}

.site-main__title {
	font-weight: 700;
	font-size: 56px;
	color: var(--color);
	margin-bottom: 26px;
}
.site-main__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 154%;
	letter-spacing: 5.5%;
	margin-bottom: 76px;
	color: var(--text-color);
}
.site-main__btn {
	font-weight: 600;
	font-size: 16px;
	color: var(--color);
	padding: 20px 50px 20px 50px;
	background-color: var(--btn-color);
	border-radius: 47px;
	border: 2px solid var(--btn-color);
	cursor: pointer;
	transition: all 0.3s ease;
}

.site-main__btn:hover {
	border: 2px solid var(--btn-color);
	background-color: transparent;
}
.site-main__wrapper {
	position: relative;
}

.site-main__gorizontal1 {
	position: absolute;
	right: 433px;
	top: 270px;
}

.site-main__gorizontal2 {
	position: absolute;
	transform: rotate(90deg);
	right: 60px;
	top: -90px;
}

.humburger-icon {
	display: none;
}

.closeBtn {
	display: none;
}
/* MAIN END */
/* PROJECTS START */

.section-projects {
	padding-bottom: 166px;
}
.section-projects_title {
	text-align: center;
	font-weight: 700;
	font-size: 64px;
	color: var(--color);
	margin-bottom: 54px;
}
.section-projects__btn {
	font-weight: 700;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 1.63px;
	text-transform: uppercase;
	padding: 24px 33px 26px 45px;
	border: 1px solid var(--btn-color);
	border-radius: 33px;
	color: var(--color);
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-bottom: 80px;
}
.section-projects__btn:hover {
	background-color: var(--btn-color);
}
.section-projects__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-projects__item {
	list-style: none;
}
.section-projects__item:not(:last-child) {
	margin-right: 27px;
	list-style: none;
	padding-bottom: 94px;
}
.section-projects__links {
	text-decoration: none;
}

hr {
	width: 48px;
	height: 0;
	color: var(--btn-color);
	display: none;
}

.section-projects__info {
	display: flex;
	align-items: baseline;
	margin-top: 32px;
}
.section-projects__info-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: var(--color);
	margin-right: 32px;
	margin-bottom: 32px;
}
.section-projects__top {
	display: flex;
	align-items: center;
	color: var(--color);
}
.section-projects__top-title1 {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: var(--text-color);
	margin-right: 16px;
}
.section-projects__top-title2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: var(--color);
}
.section-projects__bottom {
	display: flex;
	align-items: center;
}

.section-projects__bottom-title1 {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: var(--text-color);
	margin-right: 16px;
}
.section-projects__bottom-title2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: var(--color);
	margin-right: 16px;
}

/* PROJECTS END */

/* TESTIMON START */

.site-testimon {
	padding-bottom: 120px;
}
.site-testimon__wrapper {
	max-width: 700px;
	width: 100%;
}
.site-testimon__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--color);
	margin-bottom: 44px;
}
.site-testimon__text {
	max-width: 878px;
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text-color);
	margin-bottom: 36px;
}
.site-testimon__item {
	text-decoration: none;
	color: var(--color);
}

svg {
	stroke: orange;
	fill: none;
	stroke-width: 2;
}

/* TESTIMON END */

/* FOOTER START */

.site-footer {
	background-color: var(--footer-color);
	padding-top: 100px;
	padding-bottom: 83px;
}

.site-footer__title {
	color: var(--btn-color);
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	margin-bottom: 23px;
}
.site-footer__link {
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-offset: 0%;
	color: var(--color);
}

.site-footer__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 150px;
	padding-bottom: 75px;
}

.site-footer__aaron {
	width: 241px;
	height: 42.42px;
}

.site-footer__item {
	list-style: none;
	cursor: pointer;
}

.site-footer__link1 {
	text-decoration: none;
	color: var(--color);
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
}

.site-footer__link3 {
	display: flex;
	margin-bottom: 16px;
	text-decoration: none;
	color: var(--color);
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	margin-bottom: 16px;
}

.site-footer__facebok {
	text-decoration: none;
}
.site-footer__twitter {
	text-decoration: none;
}
.sitete-footer__instagram {
	text-decoration: none;
}

.gorizontal {
	width: 1140px;
	color: var(--text-color);
	margin-bottom: 36px;
	margin-left: 20px;
}
.site-footer__until {
	text-align: center;
	color: var(--color);
}

.footer-flex {
	display: flex;
}

/* FOOTER END */

/* MYWORK HEADER */

.site-aaronn {
	background-image: url(../img/Vector\ 8.svg);
	background-repeat: no-repeat;
}

.my-nav__wrapper {
	max-width: 424px;
	width: 100%;
	padding-top: 138px;
	padding-bottom: 91px;
}
.my-nav__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 100%;
	color: var(--color);
	margin-bottom: 10px;
}
.my-nav__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	color: var(--text-color);
}
.my-nav__max {
	width: 1148px;
	height: 0;
	color: var(--text-color);
}

/* MYWORK HEADER */
/* MYWORK MAIN */

.work-main__list {
	padding-top: 101px;
	padding-bottom: 176px;
}
.work-main__item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-main__wrapper {
	padding-bottom: 60px;
}

.work-main__wrapper:not(:last-child) {
	margin-right: 30px;
}
.work-main__img {
	margin-bottom: 32px;
	border-radius: 16px;
}
.work-main__title {
	font-weight: 700;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 1.63px;
	text-align: center;
	text-transform: uppercase;
	color: var(--color);
	margin-bottom: 10px;
}
.work-main__titleh3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.5px;
	text-align: center;
	color: var(--color);
}
.work-main__btn {
	font-weight: 700;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 1.63px;
	text-transform: uppercase;
	padding: 22px 35px;
	color: var(--btn-color);
	background-color: transparent;
	border: 1px solid var(--btn-color);
	border-radius: 33px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.work-main__btn:hover {
	background-color: var(--btn-color);
	color: var(--footer-color);
}

/* MYWORK MAIN */

/* ABOUT MAIN */

.about-main {
	padding-top: 90px;
	padding-bottom: 220px;
}
.about-main__info {
	display: flex;
	justify-content: center;
}
.about-main__title {
	font-weight: 700;
	font-size: 80px;
	line-height: 84px;
	letter-spacing: -2.5px;
	color: var(--color);
	margin-bottom: 101px;
	margin-right: 35px;
}
.about-main__text {
	text-align: justify;
	max-width: 495px;
	width: 100%;
	font-weight: 600;
	font-size: 21px;
	line-height: 39px;
	letter-spacing: -0.66px;
	color: var(--text-color);
}
.about-main__images {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 165px;
}
.about-main__img1 {
	margin-right: 28px;
}

.restangle1 {
	position: absolute;
	left: -50px;
	z-index: 1;
	bottom: 340px;
}

.restangle2 {
	position: absolute;
	transform: rotate(90deg);
	right: 75px;
	bottom: -85px;
}

.about-main__title3 {
	font-weight: 700;
	font-size: 48px;
	line-height: 79.99px;
	letter-spacing: -0.5px;
	color: var(--color);
	margin-bottom: 25px;
}
.about-main__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about-main__item {
	list-style: none;
}
.about-main__link {
	text-decoration: none;
	color: var(--text-color);
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 4.06px;
	text-transform: uppercase;
}

/* ABOUT MAIN */
/* CONTACT */

.contact-main {
	padding-top: 153px;
	padding-bottom: 115px;
}
.contact-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contact-main__title {
	width: 400px;
	height: 231px;
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	color: var(--color);
}
.contact-main__form {
	display: flex;
	flex-direction: column;
}
.contact-mian__label {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	text-transform: uppercase;
	color: var(--color);
}

.contact-main__input {
	text-underline-offset: 2px;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid var(--text-color);
	width: 574px;
	height: 50px;
	color: var(--color);
	padding-left: 20px;
	font-size: 20px;
}

.contact-main__btn {
	width: 150px;
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	padding: 11px 18px;
	background-color: var(--btn-color);
	border-radius: 50px;
	border: none;
	cursor: pointer;
	color: var(--color);
	transition: all 0.3s ease;
	border: 2px solid var(--btn-color);
}

.contact-main__btn:hover {
	background-color: transparent;
	color: var(--btn-color);
	border: 2px solid var(--btn-color);
}

/* CONTACT */

/* SITES */

.sites-section {
	padding-top: 115px;
	padding-bottom: 164px;
}
.sites-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sites-section__list {
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sites-section__item {
	margin-right: 50px;
	list-style: none;
}
.sites-section__link {
	text-decoration: none;
	color: var(--color);
	font-family: Syne;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-offset: 0%;
	text-decoration-thickness: 0%;
}

/* SITES */

/* PROJECTS */

.site-title2 {
	font-size: 64px;
}

.project-main {
	padding-top: 122px;
	padding-bottom: 193px;
}
.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.project-main__img {
	margin-bottom: 70px;
}
.project-main__info {
	width: 750px;
	height: 230px;
}
.project-main__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	letter-spacing: 0%;
	text-transform: capitalize;
	color: var(--color);
	margin-bottom: 30px;
}
.project-main__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 170%;
	color: var(--text-color);
}
.project-main__wrapper {
	padding-top: 88px;
	padding-bottom: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 36px;
}
.project-main__wrapper:not(:last-child) {
	gap: 36px;
}
.project-wrapper__info {
	width: 750px;
	height: 230px;
}
.project-wrapper__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	letter-spacing: 0%;
	text-transform: capitalize;
	color: var(--color);
	margin-bottom: 30px;
}
.project-wrapper__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 170%;
	letter-spacing: 0%;
	color: var(--text-color);
}

/* PROJECTS */

/* OTHER */

.other-section__wrapper {
	padding-bottom: 50px;
}
.other-section__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: var(--color);
	margin-bottom: 85px;
}
.other-section__list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.other-section__item {
	list-style: none;
	margin-right: 30px;
}
.other-section__img {
	margin-bottom: 27px;
}
.other-item__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0%;
	text-transform: capitalize;
	color: var(--color);
	margin-bottom: 10px;
}
.other-item__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text-color);
}

/* OTHER */

/* MEDIA RESPONSIVE */

@media only screen and (max-width: 1200px) {
	.site-main {
		padding-bottom: 200px;
	}

	.main-container {
		flex-direction: column;
	}

	.site-main__info {
		display: flex;
		flex-direction: column;
		margin-right: 0;
	}

	.site-main__title {
		text-align: center;
		margin: 0 auto;
		max-width: 700px;
		width: 100%;
		font-size: 48px;
		margin-bottom: 20px;
	}
	.site-main__text {
		margin-bottom: 50px;
		text-align: center;
	}
	.site-main__btn {
		padding: 15px 30px;
		margin-bottom: 100px;
	}

	.section-projects {
		padding-bottom: 100px;
	}

	.section-projects__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.section-projects__item {
		list-style: none;
		width: 500px;
		height: 700px;
		margin-bottom: 86px;
	}

	.section-projects__item img {
		width: 500px;
		height: 600px;
	}

	.gorizontal {
		display: none;
	}

	.about-main__info {
		flex-direction: column;
	}
	.about-main__title {
		text-align: center;
		font-size: 60px;
		margin-bottom: 80px;
		margin-right: 0;
	}
	.about-main__text {
		text-align: center;
		font-size: 18px;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.about-main__images {
		flex-direction: column;
	}
	.about-main__img1 {
		width: 550px;
		height: 450px;
		margin-right: 0;
		margin-bottom: 50px;
	}

	.restangle1 {
		display: none;
	}

	.restangle2 {
		display: none;
	}

	.about-main__title3 {
		text-align: center;
		font-size: 40px;
	}
	.about-main__list {
		flex-direction: column;
	}
	.about-main__item {
		margin-bottom: 30px;
	}

	.my-nav__wrapper {
		max-width: 400px;
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.my-nav__title {
		font-size: 62px;
	}
	.my-nav__text {
		font-size: 12px;
	}
	.my-nav__max {
		display: none;
	}

	.work-main__list {
		padding-top: 70px;
		padding-bottom: 100px;
	}
	.work-main__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.work-main__wrapper {
		padding-bottom: 60px;
	}

	.work-main__wrapper:not(:last-child) {
		margin-right: 30px;
	}
	.work-main__img {
		margin-bottom: 32px;
		border-radius: 16px;
	}
	.work-main__title {
		font-weight: 700;
		font-size: 13px;
		line-height: 100%;
		letter-spacing: 1.63px;
		text-align: center;
		text-transform: uppercase;
		color: var(--color);
		margin-bottom: 10px;
	}
	.work-main__titleh3 {
		font-weight: 700;
		font-size: 24px;
		line-height: 34px;
		letter-spacing: -0.5px;
		text-align: center;
		color: var(--color);
	}
	.work-main__btn {
		font-weight: 700;
		font-size: 13px;
		line-height: 100%;
		letter-spacing: 1.63px;
		text-transform: uppercase;
		padding: 22px 35px;
		color: var(--btn-color);
		background-color: transparent;
		border: 1px solid var(--btn-color);
		border-radius: 33px;
		margin-left: 0%;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	.work-main__btn:hover {
		background-color: var(--btn-color);
		color: var(--footer-color);
	}

	.site-title2 {
		font-size: 58px;
	}

	.project-main {
		padding-top: 90px;
		padding-bottom: 100px;
	}

	.project-main__img {
		width: 90%;
		height: 90%;
		margin-bottom: 70px;
	}
	.project-main__info {
		width: 90%;
		height: 90%;
	}

	.project-main__wrapper img {
		width: 90%;
		height: 90%;
	}

	.project-main__wrapper {
		flex-direction: column;
		margin-right: 0px;
	}
	.project-main__wrapper:not(:last-child) {
		gap: 40px;
	}
	.project-wrapper__info {
		width: 90%;
		height: 90%;
	}

	.other-section__wrapper {
		padding-bottom: 100px;
	}
	.other-section__title {
		font-size: 54px;
		margin-bottom: 70px;
	}
	.other-section__list {
		flex-direction: column;
	}
	.other-section__item {
		margin: 0 auto;
	}
	.other-section__img {
		width: 90%;
		height: 90%;
		margin-bottom: 27px;
	}
}

@media only screen and (max-width: 1150px) {
	.work-main__list {
		padding-top: 70px;
		padding-bottom: 100px;
	}
	.work-main__item {
		flex-direction: column;
	}

	.work-main__wrapper:not(:last-child) {
		margin-right: 0;
	}

	.contact-main {
		padding-top: 80px;
		padding-bottom: 90px;
	}
	.contact-container {
		flex-direction: column;
	}
	.contact-main__title {
		text-align: center;
	}
	.contact-main__form {
		display: flex;
		flex-direction: column;
	}

	.laptop {
		width: 1000px;
		height: 600px;
	}
}

@media only screen and (max-width: 1130px) {
	.contact-main {
		padding-top: 80px;
		padding-bottom: 90px;
	}

	.sites-section__list {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}

	.laptop {
		margin-bottom: 80px;
		width: 700px;
		height: 400px;
	}
}

@media only screen and (max-width: 1070px) {
	.section-projects {
		padding-bottom: 100px;
	}

	.section-projects__list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.section-projects__item {
		margin-left: 25%;
	}
	.section-projects__item:not(:last-child) {
		margin-right: 0px;
	}

	.site-testimon {
		padding-bottom: 80px;
	}
	.site-testimon__wrapper {
		max-width: 600px;
		width: 100%;
	}
	.gorizontal {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.section-projects {
		padding-bottom: 80px;
	}

	.section-projects__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.section-projects__item {
		margin-left: 80px;
	}

	.site-footer__link {
		font-size: 54px;
	}

	.site-footer__list {
		flex-direction: column;
		padding-top: 100px;
		padding-bottom: 70px;
	}

	.site-footer__aaron {
		margin-bottom: 50px;
	}

	.site-footer__item {
		margin-bottom: 50px;
	}

	.gorizontal {
		display: none;
	}

	.laptop {
		margin-bottom: 80px;
		width: 500px;
		height: 300px;
	}

	.sites-section__list {
		flex-direction: column;
	}

	.sites-section__item {
		margin-right: 0;
		margin-bottom: 50px;
	}
	.sites-section__link {
		font-size: 28px;
	}
}

@media only screen and (max-width: 650px) {
	.section-projects__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.section-projects__item {
		margin-left: 10%;
	}

	.site-section__title {
		font-size: 65px;
	}

	.site-header__link {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.section-projects__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.site-header__btn {
		display: none;
	}

	.humburger-icon {
		position: absolute;
		right: 20px;
		display: block;
	}

	.aaronn {
		position: relative;
	}
}

@media only screen and (max-width: 580px) {
	.contact-main {
		padding-top: 90px;
		padding-bottom: 100px;
	}

	.contact-main__title {
		font-size: 54px;
	}

	.contact-mian__label {
		margin-bottom: 50px;
		font-size: 18px;
	}

	.contact-main__input {
		width: 380px;
		height: 50px;
	}
}

@media only screen and (max-width: 550px) {
	.about-main {
		padding-top: 70px;
		padding-bottom: 100px;
	}

	.about-main__title {
		font-size: 60px;
		margin-bottom: 90px;
		margin-right: 0px;
	}
	.about-main__text {
		font-size: 18px;
	}
	.about-main__images {
		margin-bottom: 70px;
	}
	.about-main__img1 {
		margin-right: 0px;
		width: 350px;
		height: 450px;
	}

	.work-main__img1 {
		width: 450px;
	}

	.work-main__list {
		padding-top: 80px;
		padding-bottom: 146px;

		flex-direction: column;
	}

	.work-main__wrapper {
		padding-bottom: 60px;
	}

	.work-main__wrapper:not(:last-child) {
		margin-right: 30px;
	}
	.work-main__img {
		margin-bottom: 32px;
		border-radius: 16px;
	}
	.work-main__title {
		font-weight: 700;
		font-size: 13px;
		line-height: 100%;
		letter-spacing: 1.63px;
		text-align: center;
		text-transform: uppercase;
		color: var(--color);
		margin-bottom: 10px;
	}
	.work-main__titleh3 {
		font-weight: 700;
		font-size: 24px;
		line-height: 34px;
		letter-spacing: -0.5px;
		text-align: center;
		color: var(--color);
	}
	.work-main__btn {
		font-weight: 700;
		font-size: 13px;
		line-height: 100%;
		letter-spacing: 1.63px;
		text-transform: uppercase;
		padding: 22px 35px;
		color: var(--btn-color);
		background-color: transparent;
		border: 1px solid var(--btn-color);
		border-radius: 33px;
		cursor: pointer;
		transition: all 0.3s ease;
	}
}

@media only screen and (max-width: 530px) {
	.flex-container {
		padding-bottom: 10px;
	}
	.site-header__btn {
		font-size: 10px;
		padding: 10px 30px;
	}

	.site-section {
		padding-top: 100px;
		padding-bottom: 180px;
	}

	.site-section__title {
		font-size: 48px;
		margin-bottom: 70px;
	}

	.site-section__btn {
		font-size: 10px;
		padding: 20px 30px 22px 34px;
	}

	.site-main {
		padding-bottom: 180px;
	}

	.site-main__info {
		margin-right: 0px;
	}

	.site-main__title {
		font-size: 46px;
	}
	.site-main__text {
		font-size: 14px;
		margin-bottom: 50px;
	}
	.site-main__btn {
		font-size: 14px;
		padding: 16px 30px;
	}

	.oka {
		width: 400px;
		height: 450px;
	}

	.section-projects {
		padding-bottom: 100px;
	}
	.section-projects_title {
		font-size: 52px;
	}
	.section-projects__btn {
		font-size: 10px;
		padding: 20px 28px 20px 40px;
		margin-bottom: 50px;
	}
	.section-projects__list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.section-projects__item img {
		width: 400px;
		height: 500px;
	}

	.section-projects__item {
		width: 400px;
		height: 550px;
		list-style: none;
		margin-left: 0px;
		margin-bottom: 80px;
	}

	.site-footer__title {
		font-size: 20px;
		margin-bottom: 25px;
	}
	.site-footer__link {
		font-size: 40px;
	}

	.site-footer__list {
		padding-top: 80px;
		padding-bottom: 60px;
	}

	.site-footer__link1 {
		font-size: 20px;
	}

	.site-footer__link3 {
		margin-bottom: 10px;
		font-size: 20px;
	}

	.site-testimon {
		padding-bottom: 80px;
	}

	.site-testimon__title {
		font-size: 55px;
		margin-bottom: 38px;
	}
	.site-testimon__text {
		font-size: 14px;
		margin-bottom: 30px;
		text-align: justify;
	}

	svg {
		display: none;
	}

	.work-main__img1 {
		width: 400px;
	}

	.contact-main {
		padding-top: 70px;
		padding-bottom: 90px;
	}

	.contact-mian__label {
		margin-bottom: 40px;
		font-size: 14px;
	}

	.contact-main__input {
		width: 350px;
	}

	.laptop {
		width: 400px;
		height: 400px;
	}
}
